<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartmentssecurity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".NammaApartmentsSecurity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">

        <!-- Ignore these activities for now -->
        <activity android:name=".nammaapartmentsecurityhome.emergency.FilterEmergencyList" />

        <!-- Notification Services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".nammaapartmentsecurityhome.FirebaseNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Namma Apartments Security Home Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.NammaApartmentSecurityHome"
            android:screenOrientation="portrait" />

        <!-- E-Intercom Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.eintercom.EIntercomType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.eintercom.EIntercom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.eintercom.AwaitingResponse"
            android:screenOrientation="portrait" />

        <!-- Visitor and Daily Service Validation Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.visitorsordailyservicesvalidation.VisitorsAndDailyServicesValidation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.visitorsordailyservicesvalidation.VisitorAndDailyServiceList"
            android:screenOrientation="portrait" />

        <!-- Gate Notification Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.GateNotificationHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.VehicleValidation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.ExpectedArrivalsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.ThingsGiven"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.GivenThingsToDailyService"
            android:screenOrientation="portrait" />

        <!-- Society Member Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.societymember.SocietyMemberAndExpectedPackageArrival"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.societymember.FamilyMemberList"
            android:screenOrientation="portrait" />

        <!-- Emergency Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.emergency.Emergency"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.emergency.SearchFlatNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.emergency.RecentEmergencyDetails"
            android:screenOrientation="portrait" />

        <!-- Sign In Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.login.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OTP Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.login.OTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--Vehicle details Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.vehiclevalidation.VehicleDetails"
            android:screenOrientation="portrait" />

    </application>

</manifest>