<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartmentssecurity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">

        <!-- Ignore these activities for now -->
        <activity android:name=".nammaapartmentsecurityhome.emergency.FilterEmergencyList" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Namma Apartments Security Home Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.NammaApartmentSecurityHome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- E-Intercom Screen -->
        <activity
            android:name=".nammaapartmentsecurityhome.eintercom.EIntercom"
            android:screenOrientation="portrait" />

        <!-- Visitor and Daily Service Validation Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.visitorsordailyservicesvalidation.VisitorsAndDailyServicesValidation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.visitorsordailyservicesvalidation.VisitorAndDailyServiceList"
            android:screenOrientation="portrait" />

        <!-- Gate Notification Screens -->
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.GateNotificationHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.ExpectedCabArrival"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.ExpectedArrivalsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.ThingsGiven"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.GivenThingsToDailyService"
            android:screenOrientation="portrait" />

        <!--Society Member Screens-->
        <activity
            android:name=".nammaapartmentsecurityhome.societymember.SocietyMemberAndExpectedPackageArrival"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.societymember.FamilyMemberList"
            android:screenOrientation="portrait" />

        <!--Emergency Screens-->
        <activity
            android:name=".nammaapartmentsecurityhome.emergency.Emergency"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsecurityhome.emergency.SearchFlatNumber"
            android:screenOrientation="portrait" />
    </application>

</manifest>