<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartmentssecurity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">
        <activity android:name=".MainActivity" />

        <!-- Namma Apartments Security Home Screen -->
        <activity android:name=".nammaapartmentsecurityhome.NammaApartmentSecurityHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nammaapartmentsecurityhome.visitorsordailyservicesvalidation.VisitorsAndDailyServicesValidation"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".nammaapartmentsecurityhome.eintercom.EIntercom" />
        <activity android:name=".nammaapartmentsecurityhome.gatenotification.GateNotificationHome" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.Expected_Arrivals"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsecurityhome.gatenotification.Things_Given"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>